  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;500&display=swap');


*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 
}

body::-webkit-scrollbar {
  width: .4rem;
  background-color:#fff;

}
body::-webkit-scrollbar-thumb {
background-color: rgb(224, 224, 224);

}

.LogoHeader {
  font-family:"Barlow Condensed";
  }

 