.FooterMain {
 padding-block: 2rem;
 color: #eee;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: .3rem;
}

.FooterMain a {
 text-decoration: none;
 color: rgb(231, 195, 34);
}

.separationHorizontale {
 height: .05rem;
 border-radius: .1rem;
 background-color: #eee;
 min-width: 300px;

}

.linkedinCentre {
 text-align: center;
 font-size: 3rem;
 margin-top: 1rem;
}