
.RootLayoutOpen{
 background-color: rgb(137, 250, 226);
 height: 100vh;
 width: 100%;
 transition: 600ms ease-in-out;
 box-shadow: 0 0 20px 1px #00000055;
 scale: 90%;
}

.RootLayoutClosed{
 background-color: rgb(137, 250, 226);
 height: 100vh;
 width: 100%;
 transition: 400ms ease-out;
 scale: 100%;
 box-shadow: 0 0 20px 1px #00000055;

}