.ArticlesListBodyLanding {
 background-color: darkgoldenrod;
}

.articleVignetteLandingPage {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
transition: 300ms ease-in-out;

  
 }
 
 .articleVignetteLandingPage:hover {
transition: 300ms ease-in-out;
background-position-y: -1.5rem;
}

.artcileVignetteBlackFilter {
 padding: 1rem;
 min-height: 10rem;
 background-color: #00000066;
 display: flex;
 flex-direction: column;
 justify-content: end;
 align-items: start;
 transition: 300ms ease-in-out;
}

.artcileVignetteBlackFilter:hover {
 background-color: #00000099;
 transition: 300ms ease-in-out;
}

.articleVignetteLandingPage .art_title_tag{
background-color: #000000aa;
text-transform: uppercase;
color: #fff;
font-size: .7rem;
padding: .2rem .5rem;
display: inline;
}



.articleVignetteLandingPage .art_title{
color: #fff;
font-size: 1.1rem;
margin-top: .5rem;
}
