.ArticleBodyTemplate {
display: flex;
justify-content: center;
align-items: center;

}

.ArticleBodyTemplateContent {
 max-width: 900px;

}

.ArticleBodyTemplate .art_title {
 padding-top: 1.5rem;
 padding-inline: 1.2rem;
 
}

.ArticleBodyTemplate .art_by {
 margin-top: .7rem ;
 padding-inline: 1.2rem;
 font-size: .8rem;

}

.ArticleBodyTemplate .regularEnphasis {
 font-weight: bold;
}



.ArticleBodyTemplate .art_pic_link {
 max-width: 100%;
}

.ArticleBodyTemplate .art_pic_link {
 margin-top: 1rem;
 width: 100%;
 aspect-ratio: calc(16/9);
 background-repeat: no-repeat;
 background-size: cover;
}

.ArticleBodyTemplate .art_pic_fuente {
 
 margin-inline: .5rem;
 margin-top: .5rem;
 font-size:.7rem;
 font-style: italic;
}


.ArticleBodyTemplate .parag {
 margin-inline: 1.2rem;
 margin-block: 1.4rem;
 font-size: .8rem;
 line-height: 1.8;
}

.ArticleBodyTemplate .ttl {
 margin-inline: 1.2rem;
 margin-block: 1.4rem;
}


.ArticleBodyTemplate ul {
 margin-inline: 2.4rem;
 margin-block: 1.4rem;
 font-size: .8rem;
 line-height: 1.8;
}