 .LogoHeader {
  cursor: pointer;
 }
 .LogoHeader a {
 text-decoration: none;
 color: #000;
 }


 .LogoHeaderText {
  font-size: 1.8rem;
}

.logoBoldPart {
 font-weight: 400;

}
.logoNoneBoldPart {
 font-weight: 200;
}

