
.SideManuMainOpen {
 z-index: 10;
 position: absolute;
 width: 100%;
 height: 100vh;
 background-color:darkgoldenrod;
 transition: 600ms ease-in-out;
}
.SideManuMainClosed {
 z-index: 10;
 position: absolute;
 width: 100%;
 height: 100vh;
 transform: translateX(-100%);
 background-position-x: -105%;
 background-color:darkgoldenrod;
 transition: 600ms ease-in-out;
}

.closeIconSideMenu {
 position: absolute;
 right: 1rem;
 top: 1rem;
}

.closeIconSideMenu > * {
 font-size: 2rem;
 cursor: pointer;
 transition: 200ms ease-in-out;
 color: #222;

}

.closeIconSideMenu > *:hover {
 font-size: 2.2rem;
 transition: 200ms ease-in-out;
 cursor: pointer;

}