
.SideManuMainOpen {
 z-index: 10;
 position: absolute;
 width: 100%;
 height: 100vh;
 background-color:#f1f1f1;
 transition: 500ms ease-in-out;
 box-shadow: 1px 1px 14px #00000033;
 
}
.SideManuMainClosed {
 z-index: 10;
 position: absolute;
 width: 100%;
 height: 100vh;
 transform: translateX(-100%);
 background-position-x: -105%;
 background-color:#f1f1f1;
 transition: 300ms ease-in-out;
 box-shadow: 1px 1px 1px #00000077;
}

.closeIconSideMenu {
 position: absolute;
 right: 1rem;
 top: 1rem;
}

.closeIconSideMenu > * {
 font-size: 2rem;
 cursor: pointer;
 transition: 200ms ease-in-out;
 color: #222;

}

.closeIconSideMenu > *:hover {
 font-size: 2.2rem;
 transition: 200ms ease-in-out;
 cursor: pointer;

}

.menuItemsList {
 padding: 2rem;
 margin-top: 3rem;

}

.side_menu_item_container {
 display: flex;
 align-items: center;
 gap: .8rem;
 padding-block:1rem;
}

.side_menu_item_name{ 
font-size: 1.4rem;
font-weight: bold;
display: inline;

}
.side_menu_item_icon>*{
 font-size: 1.8rem;
 display: inline;
}

